@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.contact {
    position: relative;
    text-align: center;
    padding: 40px 20px;
  
}

.contact img {
    width: 100%; /* Gör bilden responsiv */
    height: auto;
    max-width: 800px; /* Begränsar bilden på större skärmar */
  
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2em;
    margin: 10px 0;
}

.overlay-text,
.overlay-text2 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    color: rgb(16, 16, 16);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
    font-size: 3em;
}

/* Placering på större skärmar */
.overlay-text {
    top: 10%;
    left: 30%;
}
.overlay-text2 {
    top: 60%;
    left: 70%;
}



.contact p a {
  color: inherit;
  font-family: 'Poppins', sans-serif;
    text-decoration: none;
  transition: color 0.2s;
  padding: 5px 10px;

}
.contact p a:hover {
  color: #0077cc; 
}

/* --- Mobilanpassning --- */
@media (max-width: 768px) {
    .overlay-text
    {
        font-size: 2em;
    }
    .overlay-text {
        left: 30%;
        color: white;
    }
   
}

@media (max-width: 480px) {
    .overlay-text,
    .overlay-text2 {
        font-size: 1.5em;
    }
    .overlay-text {
        top: 20%;
    }

}
