

.opening-hours {
  padding: 40px 20px;
    text-align: center;
   
}



.opening-hours ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.opening-hours li {
  padding: 4px 0;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
}

.opening-hours li:last-child {
  border-bottom: none;
}


