

.supplements {
    position: relative;
    height: 400px; /* Justera höjden beroende på behov */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Gör texten synlig ovanpå bakgrunden */
    background: 
                url('../../public/images/pexels-n-voitkevich-7615562.jpg') center/cover no-repeat;
    background-blend-mode: overlay; /* För att mixa bilder med bakgrundsfärg */
    background-color: rgba(0, 0, 0, 0.5); /* Lägg till en mörk overlay */
    padding: 20px;
}

.h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    color: #fff; /* Vit färg för att kontrastera mot bakgrunden */
}



.supplements-text {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 20px;
}

    /* ---- Responsiv anpassning ---- */
@media (max-width: 768px) {
  .supplements {
    padding: 2rem 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .supplements-text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 1.5rem;
  }

  .supplements-text {
    font-size: 0.9rem;
  }
}
  